* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    position: relative;
    overflow: hidden;
}

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    opacity: 0;

    transition: opacity .5s ease;
}

.hero-overlay.show{
    opacity: 1;
}

.hero-overlay h2{
    color: gold;
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.hero-overlay p{
    width: 70%;
    font-size: 18px;
    line-height: 1.6;
}
.portfolio-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background: gold;
    color: #111;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
}

.portfolio-btn:hover{
    background: white;
    color: black;
    transform: scale(1.05);
}

body {
    font-family: 'Philosopher', sans-serif;
    color: black;
    background-color:  white;
}

section h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #141515;
    position: relative;
    z-index: 1000;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

.nav-links a.active {
    border-bottom: 3px solid gold;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a:hover {
    color: gold;
}


.logo img {
    width: 50px;
    height: auto;
    border-radius: 20px;
}

.logo h1 {
    color: #eeefe88b;
    font-size: 28px;
}

.hero {
    background-image:url(../images_used/required_images/tattooshop2.jpg) ;
    height: 120vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
}


.hero h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #f8f8f8;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f8f8f8;
}
.cta-button{
  
    display: inline-block;
    padding: 15px 35px;
    background: transparent;
    color: gold;
    border: 2px solid gold;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.cta-button:hover{
    background: gold;
    color: black;
    box-shadow: 0 0 20px gold;
    transform: scale(1.05);
}
.addbtn{
    padding: 15px 30px;
    background-color: rgb(147, 145, 133);
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;

}

#themeBtn{
    background: transparent;
    color: rgb(20, 20, 19);
    border: 2px solid gold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
}

#themeBtn:hover{
    background: rgb(240, 240, 239);
    color: black;
    box-shadow: 0 0 15px gold;
    transform: translateY(-2px);
}

#themeBtn:active{
    transform: scale(0.95);
}
.dark-mode{
    background-color: #121212;
    color: #f5f5f5;
}
.dark-mode .navbar{
    background: #000;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4{
    color: gold;
}

.dark-mode p{
    color: #ddd;
}
.dark-mode .services{
    background: #1b1b1b;
}

.dark-mode .service-card{
    background: #252525;
    color: white;
    box-shadow: 0 10px 25px rgba(255,215,0,0.15);
}
.dark-mode .testimonials{
    background: #181818;
}

.dark-mode .testimonial{
    background: #252525;
    color: white;
}

.dark-mode .testimonial p{
    color: #ddd;
}
.dark-mode .gallery{
    background: #1b1b1b;
}
.dark-mode .featured-rooms{
    background: #181818;
}

.dark-mode .room-info{
    color: white;
}
.dark-mode input,
.dark-mode textarea,
.dark-mode select{
    background: #2b2b2b;
    color: white;
    border: 1px solid gold;
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder{
    color: #bbb;
}
.dark-mode button{
    background: gold;
    color: black;
}

.dark-mode button:hover{
    background: #ffd700;
}
.dark-mode .footer{
    background: #000;
}

.dark-mode .footer p,
.dark-mode .footer h3{
    color: white;
}
.dark-mode .wishlist{
    background: #181818;
}

.dark-mode #wishlist li{
    background: #252525;
    color: white;
}
.btn {
    padding: 15px 30px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: orange;
}

.featured-rooms {
    background-color: white;
    /*is in hotel*/
}

.rooms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.room-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.room-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s ease;
}

.room-info {
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    opacity: 0;
    transition: 0.4s;
}

.room-item:hover .room-info {
    opacity: 1;
}

.room-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.4s;
}

.room-item:hover::before {
    opacity: 1;
}

.room-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.room-info p {
    color: #777;
}

.room-item:nth-child(2) {
    margin-top: 80px;
}

.room-item:nth-child(3) {
    margin-top: 160px;
}


.services,
.hero,
.gallery,
.testimonials,
.featured-rooms,
.wishlist,
.footer {
    padding: 70px 5%;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
}

.service-card{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: 0.4s ease;
}

.service-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.service-card h3{
    padding: 15px 20px 10px;
}

.service-card p{
    padding: 0 20px 20px;
}

.service-card:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.service-card:hover img{
    transform: scale(1.1);
}

.service-card img{
    transition: 0.5s ease;
}
/* Tattoo Wishlist */

.wishlist{
    padding: 80px 10%;
    background: #f7f5f5;
    text-align: center;
}

.wishlist h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #111;
}

.wishlist input{
    width: 300px;
    padding: 12px;
    border: 2px solid gold;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.wishlist button{
    padding: 12px 20px;
    margin-left: 10px;
    background: gold;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.wishlist button:hover{
    background: #d1f78d;
    color: rgb(20, 20, 20);
}

#wishlist{
    list-style: none;
    margin-top: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#wishlist li{
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

#wishlist li button{
    background: crimson;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

#wishlist li button:hover{
    background: darkred;
}
#message{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.testimonials{
    padding: 80px 10%;
    background: #f8f8f8;
    text-align: center;
}

.testimonials h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.testimonial-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.testimonial{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.4s ease;
    position: relative;
}

.testimonial::before{
    content: "❝";
    font-size: 4rem;
    color: #c19a6b;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.3;
}

.testimonial p{
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.testimonial h4{
    color: #111;
    font-weight: 600;
}

.testimonial:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.gallery {
    padding: 50px;
    padding-top: 100px;
    overflow: hidden;
    background-color: white;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.gallery-images img {
    transition: all 0.4s ease;
    cursor: pointer;
}

.gallery-images:hover img {
    opacity: 0.7;
}

.gallery-images img:hover {
    opacity: 1;
    transform: translateY(-20px) scale(1.05);
}

.contact-form,
.booking-form {
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
}

textarea {
    padding: 12px;
}

button {
    padding: 12px;
    background: gold;
    border: none;
}
.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #111;
    margin-bottom: 60px;
    position: relative;
    text-transform: uppercase;
}

.section-title::after{
    content: "";
    width: 80px;
    height: 4px;
    background: gold;
    display: block;
    margin: 15px auto 0;
    border-radius: 5px;
}

.rooms-container {
    display: grid;
    gap: 100px;
    padding: 100px;
}

.room-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border-top: 5px solid gold;
    overflow: hidden;
}

.room-card img {
    width: 100%;
     aspect-ratio: 3 / 4;
    object-fit: cover;
    transition: 0.4s ease;
}

.room-card:hover {
    transform: translateY(-15px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.room-card h2,
.room-card p {
    padding: 0 20px;
}

.room-card h2 {
    margin-top: 20px;
}

.room-card p:last-child {
    padding-bottom: 20px;
}


.footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 30px;
}

.footer a {
    color: gold;
    text-decoration: none;
    margin: 0 10px;
}


/* Update your existing mobile media query with these additions */
@media screen and (max-width: 730px) {
   .lab-grid {
        grid-template-columns: 1fr;
   }

   header h1 {
        font-size: 2.1em;
        letter-spacing: 3px;
   }

   section {
        padding: 20px;
   }

   .form-row {
        flex-direction: column;
   }

   .form-row button {
        width: 100%;
   }

   .dynamic-list li {
        flex-direction: column;
        align-items: stretch;
   }
}
